<p>login works!</p>
<div class="parent">
    <form class="child">
    <h1>sign in</h1>
    <input placeholder="email address" type="text"> <br><br>
    <input placeholder="password" type="text"> <br>
    <input style="width: auto;" type="checkbox">
        <label>Remember password</label><br>
        <br>
        <button routerLink="/dashboard">sign in</button> <br><br>
        <button>sign in with google</button><br>
        <br>
        <button class=1>sign in with facebook</button>
    </form>
</div>
