<!-- <div class="parent">
    <form class="child">
    <h1>sign in</h1>
    <input placeholder="email address" type="text"> <br><br>
    <input placeholder="password" type="text"> <br>
    <input style="width: auto;" type="checkbox">
        <label>Remember password</label><br>
        <br>
        <button routerLink="/dashboard">sign in</button> <br><br>
        <button>sign in with google</button><br>
        <br>
        <button class=1>sign in with facebook</button>
    </form>
</div> -->

<div class="total">
    <div class="left">
        <img src="http://placeimg.com/640/480/transport" height="40%" width="80%">
        <h3 routerLink="interpolation">interpolation</h3>
        <h3 routerLink="event binding">event binding</h3>
        <h3 routerLink="apps">apps</h3>
        <h3 routerLink="vehicle summary">vehicle summary</h3>
        <h2 routerLink="create vehicle">create vehicle</h2>
        <h2 routerLink="create Acc">create Acc</h2>
        <h3 routerLink="accounts">accounts</h3>
        <h3 routerLink="flipkart">flipkart</h3>

        <h3>Subscription</h3>
        <h3>Extra services</h3>
        <button routerLink="/login">Logout</button>
        
        
    </div>
    <div class="right">
        <router-outlet></router-outlet>
        



    </div>
            
</div>



